<div
  class="mt-5 mb-2 border border-(--border-color) rounded-xl p-3 grid grid-rows-[max-content_max-content_max-content_auto_max-content] grid-gap-0 shadow-[4px_4px_10px_5px_var(--tips-card-shadow-color)]">
  <!-- Content Type Label -->
  <div class="py-1 overflow-auto inline-block w-full p-0">
    <span class="text-xs text-(--metatext-color) uppercase align-middle">
      {% if include.type == "tip" %}
      <svg class="inline-block align-middle mr-2" width="14" height="14" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="M940 128h-88v440c0 30-27 56-56 56s-56-26-56-56v-440h-88c-18 0-32-14-32-32s14-32 32-32h288c18 0 32 14 32 32s-14 32-32 32zm364 1520l-108-384h-512l-108 384h-88l380-1344h144l380 1344h-88zm-148-480l-188-668-188 668h376z"/></svg>Tip
      {% else %}
      <svg class="inline-block align-middle mr-2" width="14" height="14" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg" fill="currentColor"><path d="M1468 380c28 28 48 76 48 116v1344c0 44-36 80-80 80h-1296c-44 0-80-36-80-80v-1600c0-44 36-80 80-80h896c40 0 88 20 116 48zm-444-244v376h376c-6-18-14-34-24-44l-308-308c-10-10-26-18-44-24zm388 1528v-1024h-416c-44 0-80-36-80-80v-416h-768v1520h1264zm-924-1016v-48c0-8 8-16 16-16h480c8 0 16 8 16 16v48c0 8-8 16-16 16h-480c-8 0-16-8-16-16zm0 192v-48c0-8 8-16 16-16h800c8 0 16 8 16 16v48c0 8-8 16-16 16h-800c-8 0-16-8-16-16zm0 192v-48c0-8 8-16 16-16h800c8 0 16 8 16 16v48c0 8-8 16-16 16h-800c-8 0-16-8-16-16zm0 192v-48c0-8 8-16 16-16h800c8 0 16 8 16 16v48c0 8-8 16-16 16h-800c-8 0-16-8-16-16z"/></svg>Post
      {% endif %}
    </span>
  </div>

  <!-- Title -->
  <a class="text-(--text-color) text-3xl tracking-tight font-bold after:content-[''] after:block after:w-1/2 after:max-w-48 after:h-px after:bg-(--base-color) after:my-1"
    href="{{ include.item.url | relative_url }}" title="{{ include.item.title | escape | strip }}">
    {{ include.item.title | escape }}
  </a>

  <!-- Subheader (date, tags) -->
  {% assign page_content = include.item %}
  {% include post-subheader.html %}

  <!-- Excerpt -->
  <p class="mb-px mx-0 text-(--title-color)">{{ include.item.excerpt | strip_html | truncate: 156 }}</p>

  <!-- Read More Link -->
  <div class="float-right block clear-both">
    <div>
      <a class="text-(--text-color) hover:text-(--hover-color) p-1 text-center no-underline inline-block text-base my-1 mx-0.5 bg-transparent float-right read-more animatable uppercase align-middle"
        href="{{ include.item.url | relative_url }}" title="Read more">
        Read more<span class="sr-only"> about {{ include.item.title | escape | strip }}</span>
        <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
          class="fa fa-arrow-right fa-w-14 h-4 w-4">
          <path fill="currentColor"
            d="M216.464 36.465l-7.071 7.07c-4.686 4.686-4.686 12.284 0 16.971L387.887 239H12c-6.627 0-12 5.373-12 12v10c0 6.627 5.373 12 12 12h375.887L209.393 451.494c-4.686 4.686-4.686 12.284 0 16.971l7.071 7.07c4.686 4.686 12.284 4.686 16.97 0l211.051-211.05c4.686-4.686 4.686-12.284 0-16.971L233.434 36.465c-4.686-4.687-12.284-4.687-16.97 0z"
            class=""></path>
        </svg>
      </a>
    </div>
  </div>

</div>
