<div
  class="mt-5 mb-2 border border-(--border-color) rounded-xl p-3 grid grid-rows-[max-content_max-content_max-content_auto_max-content] grid-gap-0 shadow-[4px_4px_10px_5px_var(--tips-card-shadow-color)]">
  <!-- Content Type Label -->
  <div class="py-1 overflow-auto inline-block w-full p-0">
    <span class="text-xs text-(--metatext-color) uppercase align-middle">
      {% if include.type == "tip" %}
      <i class="fa fa-lightbulb-o mr-2"
        style="font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"></i>Tip
      {% else %}
      <i class="fa fa-file-text-o mr-2"
        style="font-family: FontAwesome; font-style: normal; font-weight: normal; text-decoration: inherit;"></i>Post
      {% endif %}
    </span>
  </div>

  <!-- Title -->
  <a class="text-(--text-color) text-3xl tracking-tight font-bold after:content-[''] after:block after:w-1/2 after:max-w-48 after:h-px after:bg-(--base-color) after:my-1"
    href="{{ include.item.url | relative_url }}" title="{{ include.item.title | escape | strip }}">
    {{ include.item.title | escape }}
  </a>

  <!-- Subheader (date, tags) -->
  {% assign page_content = include.item %}
  {% include post-subheader.html %}

  <!-- Excerpt -->
  <p class="mb-px mx-0 text-(--title-color)">{{ include.item.excerpt | strip_html | truncate: 156 }}</p>

  <!-- Read More Link -->
  <div class="float-right block clear-both">
    <div>
      <a class="text-(--text-color) hover:text-(--hover-color) p-1 text-center no-underline inline-block text-base my-1 mx-0.5 bg-transparent float-right read-more animatable uppercase align-middle"
        href="{{ include.item.url | relative_url }}" title="Read more">
        Read more
        <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
          class="fa fa-arrow-right fa-w-14 h-4 w-4">
          <path fill="currentColor"
            d="M216.464 36.465l-7.071 7.07c-4.686 4.686-4.686 12.284 0 16.971L387.887 239H12c-6.627 0-12 5.373-12 12v10c0 6.627 5.373 12 12 12h375.887L209.393 451.494c-4.686 4.686-4.686 12.284 0 16.971l7.071 7.07c4.686 4.686 12.284 4.686 16.97 0l211.051-211.05c4.686-4.686 4.686-12.284 0-16.971L233.434 36.465c-4.686-4.687-12.284-4.687-16.97 0z"
            class=""></path>
        </svg>
      </a>
    </div>
  </div>

</div>
