@import "minima/syntax-highlighting";

body {
  font-family: "Lucida Grande", "Helvetica Neue", Verdana, Arial, sans-serif;
  word-wrap: break-word;
  background-color: var(--page-color);
}

a:hover,
a:visited {
  text-decoration: none;
  /*color: #22527b;*/
  color: var(--link-color);
}

a:visited {
  color: var(--text-color);
}

.site-header {
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
  border: none;
}

.home .post-list > li {
  margin-bottom: 0px;
}

.site-header > .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
}

.site-header nav a:hover {
  color: #337ab7;
}

.site-title {
  color: var(--title-color);
  font-size: 18px;
  flex-grow: 1;
}

.site-title h1 {
  margin-bottom: 0px;
}

.site-nav .page-link {
  color: var(--link-color);
  opacity: 0.6;
}

.post-item,
.post-content,
article.post {
  border-bottom: 1px solid #e5e5e5;
  color: var(--title-color);
  display: inline-block;
  padding-top: 1rem;
  padding-right: 0px;
  padding-bottom: 0.8rem;
  padding-left: 0px;
}

.post-item h2 {
  margin-bottom: 0px;
}

.post-link,
.post-title,
.page-title {
  color: var(--text-color);
  font-weight: bold;
  font-size: 1.3em;
  margin: 0;
  line-height: 1.3;
}

.post-link:hover {
  text-decoration: none;
  color: #337ab7;
}

.post-link {
  letter-spacing: -1px;
}

.post-link:after {
  content: "";
  display: block;
  width: 50%;
  max-width: 200px;
  height: 1px;
  background-color: #337ab7;
  margin: 5px 0 5px;
}

.post-footer span,
.post-footer a,
.post-meta span,
.post-meta a {
  display: inline-block;
  font-size: 12px;
  color: var(--metatext-color);
  text-transform: uppercase;
  vertical-align: middle;
}

.post-footer {
  float: right;
  display: block;
  clear: both;
}

.post-subheader span {
  font-size: 12px;
  color: var(--metatext-color);
  text-transform: uppercase;
  vertical-align: middle;
}

.post-tags a,
.page-tags a {
  font-size: 12px;
  color: #ffffff;
  vertical-align: middle;
  letter-spacing: 1.3px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.post-subheader {
  padding: 5px 0px 5px 0px;
}

.post-tags {
  display: inline-block;
  vertical-align: top;
  float: right;
}

.excerpt {
  margin: 12px 0 10px;
}

.post-tag,
.page-tag {
  padding: 0.3em 0.9em;
  margin: 0 0.5em 0 0;
  white-space: nowrap;
  background-color: #337ab7;
  border-radius: 12px;
}

.post-tag:hover {
  background-color: #01549d;
}

.site-footer {
  border-top: none;
  color: var(--metatext-color);
  font-size: 0.9em;
  text-align: center;
}

.site-footer a,
.share a {
  color: #337ab7;
  text-decoration: none;
}

.site-footer a:hover,
.share a:hover {
  color: #22527b;
}

.footer-icons ul {
  margin-left: 0px;
}

.footer-icons li {
  display: inline;
}

.site-footer i.fa.fa-heart {
  color: red;
}

.share {
  float: right;
}

.page-header {
  text-align: center;
}

.page-content p {
  line-height: 1.5;
  margin-bottom: 1em;
  color: var(--text-color);
  font-size: 1.25em;
  word-wrap: break-word;
}

.page-content .post-header {
  margin-bottom: 10px;
}

p.excerpt {
  margin-bottom: 0.1em;
  float: left;
}

.page-tags {
  margin-bottom: 30px;
}

.tag-title,
.archive-year {
  color: #ada8a8;
  font-weight: bold;
  font-size: 1.8em;
  line-height: 1.3;
}

.archive-month {
  color: #ada8a8;
  font-weight: bold;
  font-size: 1.2em;
}

.tags-post,
.archive-year-content,
.archive-month-content {
  padding-left: 30px;
  margin: 10px 0px;
}

.archive-post a.post-link,
.tags-post a.post-link {
  font-size: 1.7em;
  letter-spacing: -1px;
}

.highlight pre code {
  overflow-x: scroll;
}

.gist .blob-code-inner {
  white-space: pre-wrap !important;
}

.list_item_description {
  font-size: 0.8em;
}

.highlighter-rouge .highlight {
  overflow-x: scroll;
  max-width: 740px;
}

@media only screen and (max-width: 600px) {
  .site-header > .wrapper {
    padding: 16px 24px;
  }
  .site-nav {
    top: 24px;
  }
  .site-title {
    font-size: 16px;
  }
}

@media only screen and (max-width: 480px) {
  iframe#ghcard-gohugoio-1,
  iframe#ghcard-jekyll-1 {
    max-width: 350px;
  }

  .gist .gist-file {
    max-width: 350px;
  }

  .highlighter-rouge {
    max-width: 350px;
  }

  .highlighter-rouge .highlight,
  figure.highlight {
    overflow-x: scroll;
    max-width: 350px;
  }

  li .highlighter-rouge {
    max-width: 315px;
  }

  li .highlighter-rouge .highlight {
    max-width: 315px;
  }
}

@media only screen and (max-width: 320px) {
  .gist .gist-file {
    max-width: 300px;
  }

  iframe#ghcard-gohugoio-1,
  iframe#ghcard-jekyll-1 {
    max-width: 300px;
  }

  .highlighter-rouge {
    max-width: 280px;
  }

  .highlighter-rouge .highlight,
  figure.highlight {
    overflow-x: scroll;
    max-width: 280px;
  }

  li .highlighter-rouge {
    max-width: 260px;
  }

  li .highlighter-rouge .highlight {
    max-width: 260px;
  }
}

blockquote {
  font-size: 15px;
}

.pagination-link {
  color: #337ab7;
  border: var(--border-color);
  border-width: 1pt;
  border-style: solid;
  padding: 12pt;
}

.pagination-link i {
  padding-left: 5px;
  padding-right: 5px;
}

a.pagination-link,
a.read-more {
  color: var(--text-color);
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  background: transparent;
  float: right;
}

svg.fa.fa-arrow-right.fa-w-14 {
  height: 14px;
  width: 16px;
}

.read-more.animatable:hover > svg.fa.fa-arrow-right.fa-w-14 {
  color: #0c5449;
  -webkit-transform: translateX(4px);
  -moz-transform: translateX(4px);
  -ms-transform: translateX(4px);
  -o-transform: translateX(4px);
  transform: translateX(4px);

  -webkit-animation-name: arrow-right;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes arrow-right {
  0% {
    -webkit-transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(4px);
  }
  100% {
    -webkit-transform: translateX(0px);
  }
}

@media only screen and (max-width: 600px) {
  .post-tags {
    display: block;
    float: none;
    clear: right;
    margin-top: 5px;
  }
}


.page-content .post-header h1 {
      margin-bottom: 0px;
}



:root {
    color-scheme: light dark;
    --text-color: #383838;
    --metatext-color: #4a4a4a; /*#757575*/
    --page-color: #ffffff;
    --border-color: #000000;
    --link-color: #757575;
    --title-color: #555;


    --code-color: #212121;
    --codeblock-color: #f8f8f8;
    
    --quotetext-color: #4a4a4a;
    
    
    --accent-color: #268bd2;
    --card-color: #fafafa;
    --form-color: #dff7fe;
    --alert-color: #CC0000;
    --ok-color: green;
    --highlight-color: yellow;
}


/* 
@media screen and (prefers-color-scheme: dark) {
:root {
    --page-color: #212121;
    --text-color: #eeeeee;
    --metatext-color: #cacaca;
    --border-color: #cacaca;
    --link-color: #eeeeee;
    --title-color: #eeeeee;


    --codeblock-color: #000000;
    --code-color: #ffffff;
    
    --quotetext-color: #cacaca;
    
    
    --card-color: #000000;
    --form-color: #268bd2;
    --ok-color: #80ff80;
    --highlight-color: #268bd2;
}
}
*/