---
layout: default
---

<div class="home">
  {{ content }}

  {%- if paginator.total_pages > 0 -%}
    <ul class="post-list">
      {%- for post in paginator.posts -%}
      <li class="post-item">
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}" title="{{ post.title | escape | strip }}" >
            {{ post.title | escape  }}
          </a>
        </h2>
        {% assign page_content = post %}
        {% include post-subheader.html %}
        <p class="excerpt">
            {{ post.excerpt | strip_html | truncate: 156 }}
        </p>
        <div class="post-footer">
          <div>
            <a class="read-more animatable" href="{{ post.url | relative_url }}" title="Read more">
              Read more 
              <svg focusable="false"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="fa fa-arrow-right fa-w-14"><path fill="currentColor" d="M216.464 36.465l-7.071 7.07c-4.686 4.686-4.686 12.284 0 16.971L387.887 239H12c-6.627 0-12 5.373-12 12v10c0 6.627 5.373 12 12 12h375.887L209.393 451.494c-4.686 4.686-4.686 12.284 0 16.971l7.071 7.07c4.686 4.686 12.284 4.686 16.97 0l211.051-211.05c4.686-4.686 4.686-12.284 0-16.971L233.434 36.465c-4.686-4.687-12.284-4.687-16.97 0z" class=""></path></svg>
            </a>
          </div>
        </div>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>


{% if paginator.total_pages > 1 %}
<div>
  {% if paginator.previous_page %}
  <div>
    <a class="pagination-link" href="{{ paginator.previous_page_path | prepend: site.baseurl }}" title="Newer" style="float:left;"><i class="fa fa-chevron-left"></i>Newer</a>
  </div>
  {% endif %}
  {% if paginator.next_page %}
  <div>
    <a class="pagination-link" href="{{ paginator.next_page_path | prepend: site.baseurl }}" title="Older" style="float:right;">Older<i class="fa fa-chevron-right"></i></a>
  </div>
  {% endif %}
</div>
{% endif %}
