---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1>
      <span class="post-title">{{ page.title | escape }}</span>
    </h1>

    {% assign page_content = page %}
    {% include post-subheader.html %}
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <div class="share">
    <strong>Share: </strong>
    {% for social in site.social %}
      {% capture full_url %}{{ site.url }}{{ site.baseurl }}{{ page.url }}{% endcapture %}
      {% if social.name == "Twitter" and social.share == true %}
        <a href="//twitter.com/share?text={{ page.title | cgi_escape }}&url={{ full_url | cgi_escape}}"
          aria-label="Share on Twitter"
          onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;">
          <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-{{social.icon}} fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      {% endif %}
      {% if social.name == "Facebook" and social.share == true %}
        <a href="//www.facebook.com/sharer.php?t={{ page.title | cgi_escape }}&u={{ full_url | cgi_escape}}"
          aria-label="Share on Facebook"
          onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;">
          <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-{{social.icon}} fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      {% endif %}
      {% if social.name == "LinkedIn" and social.share == true %}
        <a href="//www.linkedin.com/shareArticle?mini=true&url={{ full_url | cgi_escape}}"
          aria-label="Share on LinkedIn"
          onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;">
              <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-{{social.icon}} fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      {% endif %}
    {% endfor %}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}
</article>
