---
layout: default
---

<article class="border-b border-[var(--border-color)] text-[var(--title-color)] block pt-4 pr-0 pb-3 pl-0">
    <header class="mb-2.5">
      <h1>
        <span class="text-[var(--text-color)] font-bold text-2xl m-0 leading-tight">{{ page.title | escape }}</span>
      </h1>

      {% assign page_content = page %}
      {% include post-subheader.html %}
    </header>

    <div class="post-content border-b border-[var(--border-color)] text-[var(--title-color)] block pt-4 pr-0 pb-3 pl-0">
      {{ content }}
    </div>

    <div class="pt-4">
      <strong>Share: </strong>
      {% for social in site.social %}
        {% capture full_url %}{{ site.url }}{{ site.baseurl }}{{ page.url }}{% endcapture %}
        {% if social.name == "Twitter" and social.share == true %}
          <a href="//twitter.com/share?text={{ page.title | cgi_escape }}&url={{ full_url | cgi_escape}}"
            class="text-[var(--base-color)] no-underline hover:text-[var(--hover-color)]"
            aria-label="Share on Twitter"
            onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-{{social.icon}} fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        {% endif %}
        {% if social.name == "Facebook" and social.share == true %}
          <a href="//www.facebook.com/sharer.php?t={{ page.title | cgi_escape }}&u={{ full_url | cgi_escape}}"
            class="text-[var(--base-color)] no-underline hover:text-[var(--hover-color)]"
            aria-label="Share on Facebook"
            onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-{{social.icon}} fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        {% endif %}
        {% if social.name == "LinkedIn" and social.share == true %}
          <a href="//www.linkedin.com/shareArticle?mini=true&url={{ full_url | cgi_escape}}"
            class="text-[var(--base-color)] no-underline hover:text-[var(--hover-color)]"
            aria-label="Share on LinkedIn"
            onclick="window.open(this.href, '{{ social.icon }}-share', 'width=550,height=255');return false;">
                <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-{{social.icon}} fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        {% endif %}
      {% endfor %}
    </div>

  </article>
  